* {
  box-sizing: border-box;
  margin: 0;
  font-family: "KoHo" !important;
}
html{
  background-color: #222627;
}

.Navbar {
  background-color: #222627;
  display: flex;
  padding: 16px;
  font-family: sans-serif;
  color: white;
  font-family: "KoHo";
  position: fixed; 
  top: 0; 
  width: 100%; 
  z-index: 1;
}
  
.Navbar__Link {
  padding-right: 15px;
}

.Navbar__Link a{
  text-decoration: none;
  color: white;
}

.Navbar__Link a:hover{
  text-decoration: none;
  color: rgb(33, 202, 194);
}

.Navbar__Items {
  display: flex;
}

.Navbar__Items--right {
  margin-left:auto;
}

.Navbar__Link-toggle {
  display: none;
}


main{
  padding-top: 55px;
  padding-bottom: 55px;
  text-align: center;
  background-color: #222627;
  color: #ffffff;
}

#home{
  padding-top: 10px;
  background:linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url(wes-hicks-TDDPRyUe0LI-unsplash.jpg) center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

#home .text{
  line-height: 2.5;
  animation: fadeIn linear 3s;
}

#home .icons{
  padding-top:25px;
}

@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}

#about {
  background-color: #222627;
}

#about .item{
  display: flex;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 10px;
  flex-direction: column;
}

#about .item .content{
  text-align: start;
  width: 100%;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 18px;
}

#about .item .title{
  min-width: 0;
  text-transform:uppercase;
  font-size: 30px;
}

#courses ul{
  list-style-type: none;
  margin-left: 16%;
  margin-right: 16%;
}

#courses ul li{
  margin-top: 4px;
}

#projects{
  padding-top: 30px;
  display: flex;
  justify-content: center;
  color: black;
  flex-wrap: wrap;
}

.title{
  padding-top: 30px;
  width: 100%;
  font-size: 45px;
  padding-bottom: 30px;
  color: white;
}

#projects .card{
  min-width: 150px;
  margin-top: 5px;
  margin-left: 5px;
}

#projects .card img{
  width: auto;
  height: 250px;
  margin-top: 5px;
  margin-left: 5px;
}

#Contact .more{
  margin-top: 20px;
}




.highlight-yellow{
  color:black;
  z-index: 0;
  background-color: #fff2ac;
  background-image: linear-gradient(to right, #ffe359 0%, #fff2ac 100%);
  border-radius: 4px;
  
}
.highlight-green{
  color:black;
  z-index: 0;
  background-color: #c2f39a;
  background-image: linear-gradient(to right, #a8f065 0%, #c2f39a 100%);
  border-radius: 4px;
}
.highlight-blue{
  color:black;
  z-index: 0;
  background-color: #9bedf3;
  background-image: linear-gradient(to right, #65dbf0 0%, #9bedf3 100%);
  border-radius: 4px;
}




@media only screen and (max-width: 768px) {
  .Navbar__Items,
  .Navbar {
    flex-direction: column;
  }
    
  .Navbar__Items {
    display:none;
  }
    
  .Navbar__Items--right {
    margin-left:0;
  }
    
  .Navbar__ToggleShow {
    display: flex;
  }
    
  .Navbar__Link-toggle {
    align-self: flex-end;
    display: initial;
    position: absolute;
    cursor: pointer;
  } 
  #courses ul{
    list-style-type: none;
    margin-left: 5%;
    margin-right: 5%;
  }

}